dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

sudo: false
cache: pip

# safelist
branches:
  only:
    - master

before_install:
  - "pip install --upgrade pip"
  - "pip install -r requirements-dev.txt"

install:
  - "python setup.py develop"
  - "pip install ."

# command to run tests
script:
  - pytest --cov=./

after_success:
  - codecov
