
include README.md
include LICENSE
include CHANGELOG
include csdfpy/tests/*.py
include csdfpy/tests/*.csdf
include csdfpy/tests/*.csdfe
include csdfpy/tests/*.csdm
include requirements.txt
# include CITATION

recursive-include docs *

global-exclude *.pyc *.o
