
# required
numpy>=1.17
setuptools>=27.3
numexpr>=2.7.0

# for units
astropy>=3.0

# Dependencies of requests package
requests>=2.21.0

# Additional packages
matplotlib>=3.0

# development packages
pytest-runner>=5.0
pytest>=4.6.3
pre-commit>=1.16.1
coverage>=4.5.3
pytest-cov
codecov

# doc build
sphinxjp.themes.basicstrap
sphinx>=2.0
sphinx-gallery>=0.6.2
pillow>=7.1.2  # for sphinx-gallery images
sphinx_copybutton>=0.3.0
