# required
numpy>=2.2.6
scipy>=1.15.3
setuptools>=84.0.0
numexpr>=2.14.1

# for units
astropy>=6.1.7

# Dependencies of requests package
requests>=2.34.2

# Additional packages
matplotlib>=3.10.9

# development packages
pytest-runner>=5.0
pytest>=9.1.1
pre-commit>=4.6.2
coverage>=7.15.4
pytest-cov
codecov

# doc build
sphinxjp.themes.basicstrap
sphinx>=4
standard-imghdr; python_version >= "3.13"
sphinx-gallery>=0.21.0
pillow>=12.3.0  # for sphinx-gallery images
sphinx_copybutton>=0.3.0
