numpy>=1.20
scipy>=1.10
matplotlib>=3.3.3
astropy>=5.1
numexpr>=2.10.0

setuptools>=27.3
requests>=2.21.0

# Building Docs requirements
sphinxjp.themes.basicstrap
sphinx<6.0
sphinx-gallery>0.6.2
pillow>=7.1.2
breathe>=4.34.0
sphinx_copybutton>=0.3.0
sphinx_tabs>3.0
recommonmark
sphinx-version-warning
